body {
  font-family: 'Montserrat', sans-serif;
}

.input-wrapper {
  display: flex;
  gap: 8px;

  margin-bottom: 32px;
  align-items: center;
}

.timer {
  display: flex;
  gap: 30px;
}

.timer .field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.value {
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.label {
  font-size: 16px;
  line-height: 150%;
  color: #2e2f42;
  text-transform: uppercase;
}

#datetime-picker {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  outline: none;

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

#datetime-picker:hover {
  border: 1px solid #000;
}

#datetime-picker:active,
#datetime-picker:focus {
  border: 1px solid #4e75ff;
}

#datetime-picker:disabled {
  background: #fafafa;
}

button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: none;
  width: 75px;
  height: 40px;

  background: #4e75ff;
  cursor: pointer;
}

button:hover {
  background: #6c8cff;
}

button:disabled {
  background: #cfcfcf;
  color: #989898;
}
